*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   flex-wrap: wrap;
   background-color: rgba(105, 105, 105, 0.094);
}

.h9{
    font-size: 30px;
    padding: 10px;
    letter-spacing: 3px;
    background-color: rgba(0, 0, 0, 0.225);
    color: rgba(52, 22, 170, 0.947);
    position: fixed;
    width: 100%;
    padding-left: 40px;
    font-weight: 500;
}

.nav1 {
    position: fixed;
    right: 5%;
    top: 15px;
    flex-wrap: wrap;
}

.a1 {
    margin-right: 100px;
    text-decoration: none;
    font-size: 25px;
    color: aliceblue;
}

a:hover {
    color: rgb(36, 54, 193);
}

.a2 {
    margin-right: 100px;
    text-decoration: none;
    font-size: 25px;
    color: aliceblue;
}

.a3 {
    margin-right: 100px;
    text-decoration: none;
    font-size: 25px;
    color: aliceblue;
}

.a4 {
    margin-right: 100px;
    text-decoration: none;
    font-size: 25px;
    color: aliceblue;
}

/*.img1{
    margin-left: 30%;
    padding-top: 200px;
    border-radius: 30px;
    margin-bottom: 40px;
}*/

.img1{
    
            width: 60%;
            margin-left: 20%;
            margin-top: 100px;
            border-radius: 40px;
            margin-bottom: 20px;
        
}

.div1{
    border: 3px solid rgba(0, 0, 255, 0.528);
    margin-left: 70px;
    margin-right: 70px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 40px;
}

/*-- footer --*/

footer {
    background-color: rgba(0, 0, 0, 0.379);
    margin-top: 5%;
}

.img4 {
    width: 20%;
    margin-left: 40%;
    margin-top: 20px;
}